<div align='center' >
<h1>Chat</h1>
<section class="chatContainer">
  <div >
    <form id="form">
      <input type="email" id="user" placeholder="Ingrese su email" />
      <input type="text" id="message" placeholder="Ingrese su mensaje" />
     <input class="button" type="button" value="Enviar" onclick="agregarMensaje()"></input>
    </form>
    </div>
</section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>